################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/College/src/.vs
/College/src/CollegeBusiness/bin/Debug
/College/src/CollegeBusiness/obj/Debug
/College/src/CollegeData/bin/Debug
/College/src/CollegeData/obj/Debug
/College/src/CollegeService/bin
/College/src/CollegeService/obj/Debug
/College/src/CollegeUI/bin
/College/src/CollegeUI/obj/Debug
/College/src/Uol.PagSeguro/obj/Debug
/College/src/packages/EntityFramework.6.1.0/lib
/College/src/packages/EntityFramework.6.1.0
/College/src/packages/EntityFramework.6.2.0
/College/src/Domain/obj/Debug
/College/src/Infrastructure/obj/Debug
/College/src/LojaVirtual.FoccoERP.API/bin
/College/src/LojaVirtual.FoccoERP.API/obj
/College/src/packages
/College/src/Services/obj/Debug
