<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <appSettings>
    <add key="QuestionsNumber" value="20" />
    <add key="TestTime" value="120" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <globalization requestEncoding="iso-8859-1" responseEncoding="iso-8859-1" />
    <customErrors mode="Off" />
  </system.web>
  <connectionStrings>
    <!--<add name="CollegeEntities" connectionString="metadata=res://*/College.csdl|res://*/College.ssdl|res://*/College.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DELL_HOME\SQLEXPRESS;initial catalog=dotva;Integrated Security=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="CollegeEntities" connectionString="metadata=res://*/College.csdl|res://*/College.ssdl|res://*/College.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=191.237.255.36;initial catalog=dotva;persist security info=True;user id=sa;password=p1r4t422@;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>